.container {
  max-width: 1280px;
  height: 800px;
  margin: 100px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid black;
  font-size: 28px;
  justify-content: space-between;
  letter-spacing: 4px;
}
.title {
  font-family: var(--font-title);
  animation: tracking-in-contract-bck-top 1.4s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.little-man {
  animation: little-man-arrives 1.5s ease-in;
}

@keyframes little-man-arrives {
  from {
    transform: translateY(-200%) rotate(580deg) scale(0);
  }

  to {
    transform: translateY(0);
  }
}

.menu-button {
  text-transform: uppercase;
  background: 0;
  cursor: pointer;
  border-radius: 100%;
  font-size: 0;
  border: 0;
  animation: menu-button-appear 1s ease-in 1s forwards;

  &:focus {
    outline: 0;
  }
}

.menu-button-dissapeared {
  animation: menu-button-dissapear 1s ease-in forwards;
  font-family: var(--font-default);
  text-transform: uppercase;
  font-weight: bold;
  background: 0;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 100%;
  font-size: 24px;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 380px;

  &:focus {
    outline: 0;
  }
}

@keyframes menu-button-dissapear {
  from {
    transform: rotate(1080deg);
    border: 4px solid black;
  }

  to {
    height: 0;
    width: 0;
    font-size: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    display: none;
  }
}

@keyframes menu-button-appear {
  from {
    height: 0;
    width: 0;
    font-size: 0;
    border: 0;
    padding: 0;
    opacity: 0;
  }

  to {
    transform: rotate(1080deg);
    font-size: 24px;
    height: 100px;
    width: 100px;
    font-family: var(--font-default);
    font-weight: bold;
    border: 4px solid black;
  }
}
