.container {
  max-width: 1280px;
  height: 800px;
  margin: 100px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid black;
  font-size: 28px;
  justify-content: space-between;
  letter-spacing: 4px;
}
.title {
  font-family: var(--font-default);
  animation: tracking-in-contract-bck-top 1.4s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.little-man {
  animation: little-man-arrives 2s ease-in;
}

@keyframes little-man-arrives {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
